.container {
	height: 15vh;
	background-color: inherit;
	color: white;
	margin: 0 5% 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

.logo {
	width: 100%;
    height: auto;
}

.logoContainer {
	width: 10vw;
	margin: auto 0 auto 0;
}
