.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-basis: 20%;
}

.nav {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 1rem;
}

.selected {
	padding-top: 3px;
	border-bottom: 3px solid var(--app-yellow);
	color: var(--app-yellow);
}